<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
  </head>
  <body>
    <% if(!userData) { %>
      <%- include('../../partials/header'); %>
    <% } else { %>
      <%- include('partials/header', {user: userData, userCartSelected, totalCart}); %>
    <% } %>
    <main class="shopStyle-main">
      <%- include('../../partials/banner/banner.ejs', {title: "Cart"}); %> 
      <%- include('partials/main', {userCart: userCart, itemsProduct, userData}); %>
    </main>

    <footer><%- include('../../partials/footer'); %></footer>

    <%- include('../../partials/loginSite/loginSite') %> 
    <script src="../js/loginSite.js"></script>
    <script src="../js/validateNumber.js"></script>
    <script src="../js/scrollbar.js"></script>
    <script src="../../js/currencyTransport/formatCurrency.js"></script>

    <script>
      const totalPrice = document?.getElementById("totalPrice");
      const productPrice = document.querySelectorAll(".product__price");
      const headerTotal = document.getElementById("HeaderTotalCartResult");
      const inputValue = document.querySelectorAll(".item-Details__input");
      const catergoriesPrice = document.querySelectorAll(".catergories__price");
      const cartTotalPrice = document?.getElementById("cartTotalPrice");
      let totalArray = [];
      let pricing = 0;

      totalArray = Array.from(productPrice).map((el) => el);
      totalArray.length < 1 ? pricing+=totalArray[0] : totalArray.forEach((el) => (pricing += Number.parseInt(el.textContent)));

      headerTotal.textContent = formatCurrency(headerTotal.textContent);
      if(totalPrice !== null && cartTotalPrice !== null) {
        totalPrice.textContent =  formatCurrency(pricing);
        cartTotalPrice.textContent = formatCurrency(pricing);
      }

      productPrice.forEach((el) => el.textContent = formatCurrency(el.textContent))
      catergoriesPrice.forEach((el) => el.textContent = formatCurrency(el.textContent))


      inputValue.forEach((input) => {
        let plusBtn = input.parentElement.querySelector(
          ".item-Details__button--right"
        );
        let minusBtn = input.parentElement.querySelector(
          ".item-Details__button--left"
        );
        plusBtn.addEventListener("click", () => {
          input.value = Number.parseInt(input.value) + 1;
          input.setAttribute("value", input.value);
        });

        minusBtn.addEventListener("click", () => {
          if (input.value <= 1) return;
          input.value = Number.parseInt(input.value) - 1;
          input.setAttribute("value", input.value);
        });

        input.onchange = (e) => {
          if (Number.parseInt(e.target.value) < 1 || (e.target.value).length === 0) {
            input.setAttribute("value", 1);
            input.value = 1;
            return;
          }
          input.setAttribute("value", e.target.value);
        };
      });
    </script>
    <div class="modal-pop-up">
      <div class="modal-pop-up__header">
        <h4 class="modal-pop-up__title">Xóa sản phẩm</h4>
        <button class="modal-pop-up__icon btnSubmit" id="removeModal">
          X
        </button>
      </div>
      <p class="modal-pop-up__paragraph">
        Bạn chắc chắn muốn xóa sản phẩm này chứ
      </p>
      <form class="modal-pop-upBtn" id="formDelete" action="" method="POST">
        <button class="btn-click-action" id="cancel-action" href="#">Hủy</button>
        <button class="btn-click-action" id="delete-action" type="submit">Xóa</button>
      </form>
    </div>
    <script type="module">
      const btnDelete = document.querySelectorAll(".btn-call-action-delete");
      const dialog = document.querySelector(".modal-pop-up");
      const removeModal = document.getElementById("removeModal");
      const cancelActionDelete = document.getElementById("cancel-action");
      const deleteAction = document.getElementById("delete-action");
      const formDelete = document.getElementById("formDelete");
    
      btnDelete.forEach((btn) => {
        btn.onclick = () => {
          dialog.classList.add("modal-pop-up-active");
          formDelete.setAttribute("action", `cart/delete-item?_method=DELETE&id=${btn.id}`); 
        };
        cancelActionDelete.onclick = (e) => {
          e.preventDefault();
          dialog.classList.remove("modal-pop-up-active");
        };
      });
      removeModal.onclick = () => {
        dialog.classList.remove("modal-pop-up-active");
      };
    </script>

    <script>
      const btnPay = document?.getElementById("paying");
      const formSubmit = document.getElementById("paymentSubmit");
      if(btnPay) {
        btnPay.onclick = (e) => {
          let checkUpdate = confirm("Xác nếu đã cập nhật giỏ hàng của bạn");
          if(!checkUpdate) {
            e.preventDefault();
          }
        }
      }
    </script> 
  </body>
</html>
