<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
    <header><%- include('partials/header'); %></header>

    <main><%- include("partials/main", { itemDatas }); %></main>

    <footer><%- include('partials/footer'); %></footer>
    <%- include('partials/feature') %>
  </body> 
 
  <script src="../../js/currencyTransport/formatCurrency.js"> </script>

  <script>
    const totalPrice = document.getElementById("totalPrice");
    totalPrice.textContent = formatCurrency(totalPrice.textContent);
  </script>
</html>
