<figure class="shopStyle-banner">
  <div class="shopStyle-banner__image-container">
    <img
      class="shopStyle-banner__image"
      src="img/background/backshopstyle1.jpg"
      alt="Banner website"
      srcset=""
    />
  </div>
  <div class="shopStyle-banner__content">
    <figcaption class="shopStyle-banner__title"><%= title %></figcaption>
    <h3 class="shopStyle-banner__breadcrumb">
      <strong>Home</strong><span>></span> <strong><%= title %></strong>
    </h3>
  </div>

  <div class="input-search">
    <input
      type="text"
      value=""
      name=""
      class="input-search__inputTag"
      placeholder="Tìm kiếm món ăn mà bạn muốn"
    />
    <div class="input-search__btnBox">
      <button type="submit" class="input-search__btn">
        <span>search</span>
      </button>
    </div>
  </div>
</figure>

<section class="order-menu">
  <div class="container order-menu__wrapper">
    <h3 class="shop-menu__title u-align-text-center u-margin-bottom-small">
      Danh mục sản phẩm
    </h3>
    <div class="order-menu__slideWrapper">
      <button
        class="order-menu__btnMoveSlide order-menu__btnMoveSlide--left"
        id="movingLeft"
      >
        <img src="img/svg/chevron-thin-left.svg" alt="" srcset="" />
      </button>
      <div class="order-menu__titleContain">
        <a
          href="/shop?pageNumber=<%= data.pageNum %>&caterName=All"
          id=""
          class="order-menu__itemAction"
        >
          <img class="order-menu__imageIcon" src="img/Pizza.png" />
          <span class="fixed">Tất cả</span>
        </a>
        <% for(let i = 0; i < catergoryItems.length; i++) { %>
        <a
          href="/shop?pageNumber=<%= data.pageNum %>&caterName=<%= catergoryItems[i].id %>"
          id="<%= catergoryItems[i].id %>"
          class="order-menu__itemAction"
        >
          <img class="order-menu__imageIcon" src="img/Pizza.png" />
          <span class="fixed"><%= catergoryItems[i].catergoryName %></span>
        </a>
        <% } %>
      </div>
      <button
        class="order-menu__btnMoveSlide order-menu__btnMoveSlide--right"
        id="movingRight"
      >
        <img src="img/svg/chevron-thin-right.svg" alt="" srcset="" />
      </button>
    </div>

    <div class="order-menu__cartList">
      <% for(let i = 0; i < data.items.length; i++) { %>
      <div class="order-menu__cartItem">
        <div class="order-menu__icon" id="<%= data.items[i].id %>">
          <img src="img/svg/heart.svg" alt="" srcset="" />
        </div>
        <div class="order-menu__item">
          <div class="order-menu__imageBox">
            <img
              class="order-menu__image"
              src="img/uploads/itemImages/<%= data.items[i].foodImage %>"
              alt=""
              srcset=""
            />
          </div>
          <h3 class="order-menu__title"><%= data.items[i].foodName %></h3>
          <p class="order-menu__desc"><%= data.items[i].foodDesc %></p>
          <div class="order-menu__prices">
            <p class="order-menu__price">
              <span class="order-menu__moneyUnit"
                ><%= data.items[i].foodPrice %></span
              >
            </p>
            <% if(!userData) { %>
            <form action="" method="POST">
              <button class="order-menu__addToCart" type="button">
                <img width="25px" src="img/svg/plus.svg" alt="" srcset="" />
                <input type="hidden" value="1" name="" />
              </button>
            </form>
            <% } else { %>
            <form action="../cart/add-to-cart" method="POST">
              <input
                type="text"
                value="1"
                name="<%= data.items[i].id %>"
                class="addToCartShop"
                maxlength="2"
                onkeypress="return isNumberKey(event)"
              />
              <button class="order-menu__addToCart" type="submit">
                <img
                  width="25px"
                  src="img/svg/shopping_cart.svg"
                  alt=""
                  srcset=""
                />
              </button>
            </form>
            <% } %>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>

<div class="pagination-page">
  <% if(data.pageNum > 1) { %>
  <a
    class="selectedLink"
    href="/shop?pageNumber=<%= data.pageNum - 1 %>&caterName=<%= data.caterName %>"
  >
    <
  </a>
  <% } %> <% for(let i = data.startLink; i < data.endLink; i++) { %> <% if (i ==
  data.pageNum) { %>
  <a
    class="selectedLink"
    href="/shop?pageNumber=<%= i %>&caterName=<%= data.caterName %>"
  >
    <%= i %>
  </a>
  <% continue; } %>
  <a
    class="selectedLink"
    href="/shop?pageNumber=<%= i %>&caterName=<%= data.caterName %>"
  >
    <%= i %>
  </a>
  <% } %> <% if(data.pageNum < data.totalPages) { %>
  <a
    class="selectedLink"
    href="/shop?pageNumber=<%= data.pageNum + 1 %>&caterName=<%= data.caterName %>"
  >
    >
  </a>
  <% } %>
</div>

<script>
  const inputField = document.querySelectorAll(".addToCartShop");
  inputField.forEach((input) => {
    input.onchange = (e) => {
      if (Number.parseInt(e.target.value) < 1 || e.target.value.length === 0) {
        input.setAttribute("value", 1);
        input.value = 1;
        return;
      }
      input.setAttribute("value", e.target.value);
    };
  });
</script>
