<!DOCTYPE html>
<html lang="en">
  <%- include('partials/headTag'); %>
  <body id="backgroundColor">
    <div class="container-admin admin-page">
      <%- include('partials/navbar'); %>
      <% if(pageValue === "itemPage") { %>
        <%- include("pages/itemPage", {data: dataValue, Catergories}); %>
        <script src="../js/validateform.js"></script>
        <script src="../js/previewImage.js"></script>
      <% } else if(pageValue === "catergoryPage") { %>  
        <%- include("pages/catergoryPage", { dataCatergories }); %>
        <script src="../js/validateform.js"></script>
        <script src="../js/previewImage.js"></script>
      <% } else if(pageValue === "userPage") { %>  
        <%- include("pages/userPage", { userData, roleSelected }); %>
        <script src="../js/auth/validateAdminPage.js"></script>
        <script src="../js/admin/displayPassword.js"></script>
        <script src="../js/previewImage.js"></script>
      <% } else { %>
        <div class="index-page">
          <h1>
            Trang này chưa có ý tưởng
          </h1>
        </div>      
      <% } %>
    </div>
    <script src="../js/validateNumber.js"></script>
    <script src="../js/popUp.js"></script>
  </body>
</html>
