<main class="main">
  <nav class="main-nav-bar">
    <div class="btnChangeColor">
      <div class="btnChange"></div>
    </div>

    <div class="main-nav-bar__right">
      <div class="main-nav-bar__search">
        <input
          class="main-nav-bar__input"
          type="text"
          name=""
          id=""
          placeholder="Gõ những thứ bạn không tìm được"
        />
        <button class="main-nav-bar__button" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </div>

      <div class="main-nav-bar__logo">
        <img
          src="../img/customerImage/customer5.png"
          alt=""
          class="main-nav-bar__image"
        />
      </div>
    </div>
  </nav>

  <section class="main-field">
    <div class="main-top-wrapper">
      <h1 class="main-title">Welcome to Admin</h1>
      <a class="btn-addProduct btnHandleProduct" id="btnAddProduct"
        ><i class="fas fa-plus"></i
      ></a>
    </div>
    <div class="display-data-box">
      <table class="data-table">
        <tr>
          <th class="th-stt">STT</th>
          <th>Tên Danh mục</th>
          <th>Mô tả về danh mục</th>
          <th>Quản lý</th>
        </tr>
        <% for(let i = 0; i < dataCatergories.catergoryQuery.length; i++) { %>
        <tr>
          <td class="th-stt"><%= j=i+1 %></td>
          <td><%= dataCatergories.catergoryQuery[i].catergoryName %></td>
          <td><%= dataCatergories.catergoryQuery[i].catergoryDesc %></td>
          <td class="manage">
            <form action="../" method="post">
              <a
                class="btn-call-action btn-call-action-delete"
                type="button"
                href="#"
                id= "<%= dataCatergories.catergoryQuery[i].id %>"
              >
                <i class="fas fa-trash-alt"></i>
              </a>
              <a
                class="btn-call-action btn-call-action-edit"
                id=""
                href="../handle-catergory/get-catergory?id=<%= dataCatergories.catergoryQuery[i].id %>"
              >
                <i class="fas fa-pen-nib"></i>
              </a>
            </form>
          </td>
        </tr>
        <% } %>
      </table>
    </div>
    <div class="pagination-page">
      <% if(dataCatergories.pageNum > 1) { %> <a class="selectedLink" href="?page=catergoryPage&pageNumber=<%= dataCatergories.pageNum - 1 %>"> < </a> <% } %>
      <% for(let i = dataCatergories.iteratorLink; i < dataCatergories.endingLink; i++) { %>
        <% if (i == dataCatergories.pageNum) { %>
          <a class="selectedLink" href="?page=catergoryPage&pageNumber=<%= i %>"> <%= i %> </a>
        <% continue; } %>
          <a class="selectedLink" href="?page=catergoryPage&pageNumber=<%= i %>"> <%= i %> </a>
      <% } %>
      <% if(dataCatergories.pageNum < dataCatergories.numberOfPages) { %> <a class="selectedLink" href="?page=catergoryPage&pageNumber=<%= dataCatergories.pageNum + 1 %>"> > </a> <% } %>
    </div>
  </section>
</main>
<%- include('../partials/catergoryManage/addCartergoryForm'); %>
<%- include('../partials/catergoryManage/deleteDialog'); %>