<main class="main">
  <nav class="main-nav-bar">
    <div class="btnChangeColor">
      <div class="btnChange"></div>
    </div>
    <div class="main-nav-bar__right">
      <div class="main-nav-bar__search">
        <input
          class="main-nav-bar__input"
          type="text"
          name=""
          id=""
          placeholder="Gõ những thứ bạn không tìm được"
        />
        <button class="main-nav-bar__button" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </div>

      <div class="main-nav-bar__logo">
        <img
          src="../img/customerImage/customer5.png"
          alt=""
          class="main-nav-bar__image"
        />
      </div>
    </div>
  </nav>

  <section class="main-field">
    <div class="main-top-wrapper">
      <h1 class="main-title">Welcome to Admin</h1>
      <a class="btn-addProduct btnHandleProduct" id="btnAddProduct"
        ><i class="fas fa-plus"></i
      ></a>
    </div>
    <div class="display-data-box">
      <table class="data-table">
        <tr>
          <th class="th-stt">STT</th>
          <th class="user-email">Email</th>
          <!-- <th>Mật Khẩu</th> -->
          <th>Hình ảnh</th>
          <th>RoleId</th>
          <th class="date-Crea-Updat">Ngày tạo</th>
          <th class="manage-col">Quản lý</th>
        </tr>
        <% for(let i = 0; i < userData.length; i++) { %>
        <tr>
          <td class="th-stt"><%= j= i + 1 %></td>
          <td class="user-email"><%= userData[i].email %></td>
          <!-- <td class="user-email"><span class="user-password"><%= userData[0].userPassword %></span></td> -->
          <td>
            <img
              class="imageData"
              src="../img/uploads/userImages/<%= userData[i].userImage %>"
              alt=""
            />
          </td>
          <td><%= userData[i].roleName %></td>
          <td class="date-Crea-Updat"><%= userData[i].createdAt %> </td>
          <td class="manage-col">
            <form action="../" method="post">
              <a
                class="btn-call-action btn-call-action-delete"
                type="button"
                href="#"
                id="<%= userData[i].id %>"  
              >
                <i class="fas fa-trash-alt"></i>
              </a>
              <a
                class="btn-call-action btn-call-action-edit"
                id=""
                href="../handle-user/get-user?id=<%= userData[i].id %>"
              >
                <i class="fas fa-pen-nib"></i>
              </a>
            </form>
          </td>
        </tr>
        <% } %>
      </table>
    </div>
  </section>
</main>
<%- include('../partials/userManage/addUserForm', {roleSelected}); %> 
<%- include('../partials/userManage/deleteDialog'); %>
